
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-form {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sort-div {
    position: relative;
}

.sort-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.sort-options {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}

.sort-options.show {
    display: block;
}

.sort-option {
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.new {
    margin-right: 20px;
}

.movie-component {
    background-color: #fff;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.movie-component:hover {
    transform: scale(1.02);
}

.movie-title {
    font-weight: bold;
}

.rating,
.language {
    font-weight: bold;
    margin-top: 5px;
}

.add-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-button:hover {
    background-color: #0056b3;
}



.sort-options {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    z-index: 1000; /* Ensure the dropdown appears above other elements */
    padding: 5px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sort-options.show {
    display: block;
}

.sort-option {
    padding: 8px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.sort-option:hover {
    background-color: #f5f5f5;
}

.sort-btn:hover + .sort-options {
    display: block;
}
